*{
  box-sizing: border-box;
}

main {
  display: grid;
  width: 100%;
  max-width: 512px;
  grid-template-columns: repeat(3, 1fr);
}

main > div {
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 10vw;
  border: 1px solid black;
}

main > div:nth-child(odd) {
  background-color: black;
  color: white;
}

#bar{
  margin-top: 10px;
  display: flex;
  width: 100%;
  max-width: 512px;
  text-align: center;
  color: white;
}

#bar > *{
  line-height: 30px;
  height: 30px;
  transition: all 1s;
}

#jatekos{
  background-color: green;
  width: 50%;
}

#gep{
  background-color: red;
  width: 50%;
}
