* {
  box-sizing: border-box;
}

main, .minitabla {
  display: grid;
  width: 100%;
  max-width: 512px;
  grid-template-columns: repeat(3, 1fr);
}

main > div, .minitabla > div{
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 10vw;
  border: 1px solid black;
  background-color: white;
}

main > div:nth-child(odd), .minitabla > div:nth-child(odd){
  background-color: black;
  color: white;
}

#bar {
  margin-top: 10px;
  display: flex;
  width: 100%;
  max-width: 512px;
  text-align: center;
  color: white;
}

#bar > * {
  line-height: 30px;
  height: 30px;
  transition: all 1s;
}

#jatekos {
  background-color: green;
  width: 50%;
}

#gep {
  background-color: red;
  width: 50%;
}
ol, .minitabla > div{
  font-size: 20pt;
}
.lepes{
  display: inline;
}

.minitabla{
  /* display: none; */
  opacity: 0;
  position: absolute;
  transition: all .5s;
  max-width: 128px;
}

.eredmeny{
  display: inline;
}

.eredmeny:hover > .minitabla{
  /* display: block; */
  opacity: 1;
}
.eredmeny:hover > .minitabla:hover{
  /* display: block; */
  opacity: 0;
}

svg{
  position: absolute;
  width: 50px;
}