main {
  display: grid;
  width: 100%;
  max-width: 512px;
  grid-template-columns: repeat(3, 1fr);
}

div {
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 10vw;
  border: 1px solid black;
}

div:nth-child(odd) {
  background-color: black;
  color: white;
}
